.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	width: 100%;
	transition: all 0.3s ease;
	&.fixed {
		top: -50px;
	}
	&__top {
		background-color: #1e1e27;
		z-index: 10;
    position: relative;
		&-left {
			display: flex;
			align-items: center;

			height: 3.125rem;
			width: 100%;

			font-size: 0.8125rem;
			text-transform: uppercase;

			color: #b5aec4;
		}
		&-right {
			text-align: right;
		}
	}

	.add-edit {
		color: #b5aec4;
		font-size: 0.8125rem;
		display: inline-block;
		cursor: pointer;
		&:hover {
			color: #eee;
		}
	}
	.language {
		display: inline-block;
		position: relative;
		min-width: 7rem;
		border-right: solid 1px #333;
		padding: 0 1.2rem;
		margin-left: auto;
		text-align: center;
		vertical-align: middle;

		&__current {
			display: block;
			color: #b5aec4;
			height: 3.125rem;
			line-height: 3.125rem;
			font-size: 0.8125rem;
			cursor: pointer;
		}
		&__selection {
			list-style: none;
			display: block;
			position: absolute;
			right: 0;
			top: 120%;
			margin: 0;
			padding: 0;
			width: 100%;
			background-color: #fff;
			visibility: hidden;
			opacity: 1;
			z-index: 1;
			box-shadow: 0 0 1.5625rem rgba(63, 78, 100, 0.15);
			transition: all 0.2s ease;
			> li {
				padding: 0 1rem;
				line-height: 3.125rem;

				color: #232530;
				border-bottom: solid 1px #ddd;
				font-size: 0.8125rem;
				cursor: pointer;

				&:hover,
				&.active {
					color: #b5aec4;
				}

				&.active {
					cursor: default;
				}

				&:last-child {
					> a {
						border-bottom: none;
					}
				}
			}
		}
		&:hover {
			.language__current {
				color: #eee;
			}
			.language__selection {
				visibility: visible;
				opacity: 1;
				top: 100%;
			}
		}
	}

	.account {
		display: inline-block;
		position: relative;
		min-width: 7rem;
		border-right: solid 1px #333;
		padding: 0 1.2rem;
		margin-left: auto;
		text-align: center;
		vertical-align: middle;

		.avatar {
			width: 2.2rem;
			height: 2.2rem;
		}

		> a {
			display: block;
			color: #b5aec4;
			height: 3.125rem;
			line-height: 3.125rem;
			font-size: 0.8125rem;
			transition: all 0.3s;
		}
		&__selection {
			list-style: none;
			display: block;
			position: absolute;
			right: 0;
			top: 120%;
			margin: 0;
			padding: 0;
			width: 100%;
			background-color: #fff;
			visibility: hidden;
			opacity: 1;
			z-index: 1;
			box-shadow: 0 0 1.5625rem rgba(63, 78, 100, 0.15);
			transition: all 0.2s ease;

			> li {
				padding: 0 0.5rem;
				line-height: 3.125rem;
				> span {
					display: block;
					color: #232530;
					border-bottom: solid 1px #ddd;
					font-size: 0.8125rem;

					cursor: pointer;

					svg {
						margin-right: 0.5rem;
					}
					&:hover {
						color: #b5aec4;
						text-decoration: none;
					}
				}
				&:last-child {
					> a {
						border-bottom: none;
					}
				}
			}

		}
		&:hover {
			> a {
				text-decoration: none;
				color: #eee;
			}
			.account__selection {
				visibility: visible;
				opacity: 1;
				top: 100%;
			}
		}
	}

	&__bot {
		background-color: #fff;
		box-shadow: 0 0 1rem rgba(#000, 0.15);
		&-container {
			position: relative;
			height: 6.25rem;
		}
	}

	.logo {
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 9;
		transform: translateY(-50%);
		> a {
			font-size: 1.5rem;
			color: #1e1e27;
			font-weight: bold;
			text-transform: uppercase;
			&:hover {
				text-decoration: none;
			}
			> span {
				color: #fe4c50;
			}
		}
	}

	.navbar {
		margin-left: auto;
		display: flex;
		align-items: center;
		width: max-content;
		height: 100%;
		&__menu {
			margin: 0;
			padding: 0;
			a {
				display: inline-block;
				color: #1e1e27;
				font-size: 0.8125rem;
				font-weight: 500;
				text-transform: uppercase;
				padding: 1.25rem;
				transition: all 0.2s;
				&:hover,
				&.active {
					color: #b5aec4;
					text-decoration: none;
				}
				&.active {
					cursor: default;
				}
			}
		}
		&__user {
			margin: 0 0 0 2.1875rem;
			padding: 0;
			> li {
				display: inline-block;
				text-align: center;
				> a {
					display: flex;
					align-items: center;
					justify-content: center;

					width: 2.5rem;
					height: 2.5rem;

					color: #1e1e27;

					position: relative;
					transition: all 0.2s;
					svg {
						color: inherit;
						transition: inherit;
					}
					&:hover {
						color: #b5aec4;
					}
				}
			}
		}
	}

	.checkout {
		&__items {
			display: flex;
			align-items: center;
			justify-content: center;

			position: absolute;
			top: -0.5625rem;
			left: 1.375rem;

			width: 1.25rem;
			height: 1.25rem;
			border-radius: 50%;

			color: #fff;
			background-color: #fe4c50;
			font-size: 0.75rem;
		}
		> a {
			background: #eceff6;
			border-radius: 50%;
		}
	}
}

@media only screen and (min-width: 961px) {
	.navbar {
		&__btn {
			&-menu,
			&-close {
				display: none;
			}
		}
	}
}
@media only screen and (max-width: 960px) {
	.header {
		.navbar {
			&__menu {
				display: flex;
				flex-flow: row wrap;
				flex-direction: column;

				position: fixed;
				top: 0;
				right: 0;
				z-index: 99999;

				width: 300px;
				height: 100vh;

				background-color: rgba(#fff, 0.95);
				padding: 2rem 2rem 0 0;
				transform: translateX(100%);
				transition: all 0.3s;
				&.show {
					transform: translateX(0);
				}
				a {
					width: 100%;
					text-align: right;
					padding: 0.8rem 0;
				}
			}
			&__btn {
				&-menu {
					margin-left: 1rem;
					font-size: 1.3rem;
					background-color: transparent;
					border: none;
					&:focus {
						outline: none;
					}
				}
				&-close {
					font-size: 2rem;
					width: max-content;
					margin-left: auto;
					margin-bottom: 1rem;
					background-color: transparent;
					border: none;
					&:focus {
						outline: none;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 575px) {
	.header {

		.language {
			min-width: 6rem;
		}
		.navbar {
			&__menu {
				width: 100%;
				a {
				}
			}
		}
	}
}
